@charset "utf-8";
/* 헤더영역서식 */
a{
  text-decoration: none;
  color: #333;
}
.header_box{
  width: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:50px 0px;
}
.header_box .menu > ul{
  margin: 0px auto;
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.header_box .menu > ul > li{
  list-style: outside none none;
}

.header_top{
  height: 40px;
}
.header_top .recent_item{
  /* width: 20%; */
}
.header_top .recent_item a{
  line-height: 20px;
  align-items: center;
  display: inline-block;
}
.header_top .recent_item a img{
transform: translateY(7px);
}
.header_top .main_logo{
  text-align: center;
}
.header_top .main_logo img{
  width: 40%;
}
.header_top .shop_cart a img{
  transform: translateY(7px);
}
.header_bottom{
  height: 30px;
  padding-top: 0px;
}
.menu_icon{
  padding: 18px 20px;
  border-radius: 50%;
  background-color: #1F1F1F;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* 사이드메뉴 서식 */
.side_menu{
  width: 300px;
  height: 100vh;
  background: #fff;
  position: absolute;
  left: -300px;
  z-index: 10;
  transition: 0.5s;
}
.side_menu .fa-close{
  position: absolute;
  right: 0px;
  font-size: 20px;
  top: 0px;
  padding: 15px 18px;
  background: #1F1F1F;
  cursor: pointer;
  color: #fff;
}
.side_menu .fa-angle-down{
  position: absolute;
  right: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #ccc;
  line-height: 45px;
}
.side_menu .menu_list h6 {
  font-size: 20px;
  padding: 60px 30px 30px 30px;
  margin-bottom: 0;
  border-bottom: 1px solid #ebebeb;
}
.side_menu .menu_list .gnb li{
  border-bottom: 1px solid #ebebeb;
  line-height: 45px;
  font-size: 13px;
  cursor: pointer;
}
.side_menu .menu_list .gnb li a{
  padding-left: 30px;
}
.side_menu .menu_list > .gnb > li > a{
  font-weight: bold;
}
.side_menu .menu_list .gnb .lnb{
  display: none;
  transition: 0.3s;
}
.wrap_pos{
  left: 0px !important;
}
/* 화살표서식 */
.act01{
  transform: rotate(180deg);
}
.act02{
  display: block;
}

/* 푸터영역서식 */
footer{
  width: 1200px;
  height: 200px;
  margin: 0px auto;
}
.footer_wrap{
  display: flex;
}
.footer_left, .footer_center, .footer_right{
  width: 100%;
}
.footer_left address{
  font-size: 14px;
}
.footer_center nav li{
  font-size: 14px;
  line-height: 22px;
}
.footer_center nav li > a{
  color: #1F1F1F !important;
}
.footer_right{
  text-align: end;
}
.footer_right > p{
  color: #1F1F1F;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}
.footer_right > #input01{
  width: 280px;
  height: 40.5px;
  text-indent: 10px;
  border: 1px solid #1F1F1F;
  transform: translateX(6px);
  outline: none;
}
.footer_right > #input02{
  background: #1F1F1F;
  color: #fff;
  width: 60px;
  height: 45px;
  border: 1px solid #1F1F1F;
  cursor: pointer;
}



